@font-face {
  font-family: 'jsm-icons';
  src: url('../font/jsm-icons.eot?21627925');
  src: url('../font/jsm-icons.eot?21627925#iefix') format('embedded-opentype'),
       url('../font/jsm-icons.woff2?21627925') format('woff2'),
       url('../font/jsm-icons.woff?21627925') format('woff'),
       url('../font/jsm-icons.ttf?21627925') format('truetype'),
       url('../font/jsm-icons.svg?21627925#jsm-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'jsm-icons';
    src: url('../font/jsm-icons.svg?21627925#jsm-icons') format('svg');
  }
}
*/
[class^="jsm-icon-"]:before, [class*=" jsm-icon-"]:before {
  font-family: "jsm-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.jsm-icon-alert:before { content: '\e800'; } /* '' */
.jsm-icon-arrow-left:before { content: '\e801'; } /* '' */
.jsm-icon-plus:before { content: '\e802'; } /* '' */
.jsm-icon-minus:before { content: '\e803'; } /* '' */
.jsm-icon-info-circled:before { content: '\e804'; } /* '' */
.jsm-icon-arrow-thin-right:before { content: '\e805'; } /* '' */
.jsm-icon-flag:before { content: '\e806'; } /* '' */
.jsm-icon-search:before { content: '\e807'; } /* '' */
.jsm-icon-star:before { content: '\e808'; } /* '' */
.jsm-icon-outline:before { content: '\e809'; } /* '' */
.jsm-icon-whatsapp:before { content: '\e80a'; } /* '' */
.jsm-icon-whatsapp-negative:before { content: '\e80b'; } /* '' */
.jsm-icon-padlock:before { content: '\e80c'; } /* '' */
.jsm-icon-double-ticket:before { content: '\e80d'; } /* '' */
.jsm-icon-close:before { content: '\e80e'; } /* '' */
.jsm-icon-ok:before { content: '\e80f'; } /* '' */
.jsm-icon-shipping:before { content: '\e810'; } /* '' */
.jsm-icon-thin-phone:before { content: '\e811'; } /* '' */
.jsm-icon-thin-smartphone:before { content: '\e812'; } /* '' */
.jsm-icon-thin-wifi:before { content: '\e813'; } /* '' */
.jsm-icon-fork-lift:before { content: '\e814'; } /* '' */
.jsm-icon-invoice:before { content: '\e815'; } /* '' */
.jsm-icon-invoice-warning:before { content: '\e816'; } /* '' */
.jsm-icon-invoice-danger:before { content: '\e817'; } /* '' */
.jsm-icon-transfer:before { content: '\e818'; } /* '' */
.jsm-icon-truck-speed:before { content: '\e819'; } /* '' */
.jsm-icon-arrow-right:before { content: '\e81a'; } /* '' */
.jsm-icon-m-heart-outline:before { content: '\e81b'; } /* '' */
.jsm-icon-referral:before { content: '\e81c'; } /* '' */
.jsm-icon-receipt-outline:before { content: '\e81d'; } /* '' */
.jsm-icon-referral-outline:before { content: '\e81e'; } /* '' */
.jsm-icon-receipt:before { content: '\e81f'; } /* '' */
.jsm-icon-tag-outline:before { content: '\e820'; } /* '' */
.jsm-icon-tag:before { content: '\e821'; } /* '' */
.jsm-icon-house-outline:before { content: '\e822'; } /* '' */
.jsm-icon-house:before { content: '\e823'; } /* '' */
.jsm-icon-m-heart:before { content: '\e824'; } /* '' */
.jsm-icon-professional-plus:before { content: '\e825'; } /* '' */
.jsm-icon-campaign-outline:before { content: '\e826'; } /* '' */
.jsm-icon-volunteer-outline:before { content: '\e827'; } /* '' */
.jsm-icon-print:before { content: '\e831'; } /* '' */
.jsm-icon-up-dir:before { content: '\e832'; } /* '' */
.jsm-icon-home:before { content: '\e833'; } /* '' */
.jsm-icon-cancel:before { content: '\e834'; } /* '' */
.jsm-icon-cake:before { content: '\e835'; } /* '' */
.jsm-icon-bell:before { content: '\e836'; } /* '' */
.jsm-icon-business:before { content: '\e837'; } /* '' */
.jsm-icon-calendar:before { content: '\e838'; } /* '' */
.jsm-icon-cart:before { content: '\e839'; } /* '' */
.jsm-icon-chat:before { content: '\e83a'; } /* '' */
.jsm-icon-check:before { content: '\e83b'; } /* '' */
.jsm-icon-checklist:before { content: '\e83c'; } /* '' */
.jsm-icon-coins:before { content: '\e83d'; } /* '' */
.jsm-icon-denied:before { content: '\e83e'; } /* '' */
.jsm-icon-doc:before { content: '\e83f'; } /* '' */
.jsm-icon-dollar:before { content: '\e840'; } /* '' */
.jsm-icon-down-dir:before { content: '\e841'; } /* '' */
.jsm-icon-edit:before { content: '\e842'; } /* '' */
.jsm-icon-filter:before { content: '\e843'; } /* '' */
.jsm-icon-gift:before { content: '\e844'; } /* '' */
.jsm-icon-heart:before { content: '\e845'; } /* '' */
.jsm-icon-icon-warning:before { content: '\e846'; } /* '' */
.jsm-icon-jsmais:before { content: '\e847'; } /* '' */
.jsm-icon-list:before { content: '\e848'; } /* '' */
.jsm-icon-mail:before { content: '\e849'; } /* '' */
.jsm-icon-medal:before { content: '\e84a'; } /* '' */
.jsm-icon-medalha-cadastro:before { content: '\e84b'; } /* '' */
.jsm-icon-money:before { content: '\e84c'; } /* '' */
.jsm-icon-phone:before { content: '\e84d'; } /* '' */
.jsm-icon-pin:before { content: '\e84e'; } /* '' */
.jsm-icon-professional:before { content: '\e84f'; } /* '' */
.jsm-icon-radio-off:before { content: '\e850'; } /* '' */
.jsm-icon-radio-on:before { content: '\e851'; } /* '' */
.jsm-icon-standby:before { content: '\e852'; } /* '' */
.jsm-icon-store:before { content: '\e853'; } /* '' */
.jsm-icon-ticket:before { content: '\e854'; } /* '' */
.jsm-icon-timeline-up:before { content: '\e855'; } /* '' */
.jsm-icon-timeline:before { content: '\e856'; } /* '' */
.jsm-icon-trash:before { content: '\e857'; } /* '' */
.jsm-icon-user-block:before { content: '\e858'; } /* '' */
.jsm-icon-user-check:before { content: '\e859'; } /* '' */
.jsm-icon-user-circle:before { content: '\e85a'; } /* '' */
.jsm-icon-user-divide:before { content: '\e85b'; } /* '' */
.jsm-icon-user-heart:before { content: '\e85c'; } /* '' */
.jsm-icon-user:before { content: '\e85d'; } /* '' */
.jsm-icon-users:before { content: '\e85e'; } /* '' */
.jsm-icon-video:before { content: '\e85f'; } /* '' */
.jsm-icon-visibility-off:before { content: '\e860'; } /* '' */
.jsm-icon-visibility-on:before { content: '\e861'; } /* '' */
.jsm-icon-handshake-outline:before { content: '\e862'; } /* '' */
.jsm-icon-warning-outline:before { content: '\e864'; } /* '' */
.jsm-icon-activity-blocked:before { content: '\e865'; } /* '' */
.jsm-icon-player-blocked:before { content: '\e866'; } /* '' */
.jsm-icon-flashlight-on:before { content: '\e867'; } /* '' */
.jsm-icon-person-receipt:before { content: '\e868'; } /* '' */
.jsm-icon-person-gift:before { content: '\e869'; } /* '' */
.jsm-icon-habitissimo:before { content: '\e86a'; } /* '' */
.jsm-icon-eye-on:before { content: '\e871'; } /* '' */
.jsm-icon-eye-off:before { content: '\e872'; } /* '' */
.jsm-icon-refer:before { content: '\e873'; } /* '' */
.jsm-icon-th-list:before { content: '\e87b'; } /* '' */
.jsm-icon-th:before { content: '\e87c'; } /* '' */
.jsm-icon-build-circle:before { content: '\e8ae'; } /* '' */
.jsm-icon-engineering:before { content: '\e8af'; } /* '' */
.jsm-icon-hourglass-top:before { content: '\e8b0'; } /* '' */
.jsm-icon-calculate:before { content: '\e8b1'; } /* '' */
.jsm-icon-grid-view:before { content: '\e8b2'; } /* '' */
.jsm-icon-groups:before { content: '\e8b3'; } /* '' */
.jsm-icon-home-repair-service:before { content: '\e8b4'; } /* '' */
.jsm-icon-workspaces:before { content: '\e8b5'; } /* '' */
.jsm-icon-upload-file:before { content: '\e8b6'; } /* '' */
.jsm-icon-people:before { content: '\e8b7'; } /* '' */
.jsm-icon-assignment-turned-in-outline:before { content: '\e8bc'; } /* '' */
.jsm-icon-account-balance-wallet-outline:before { content: '\e8bd'; } /* '' */
.jsm-icon-cashback:before { content: '\e8d7'; } /* '' */
.jsm-icon-emoji-events:before { content: '\e917'; } /* '' */
.jsm-icon-book-outline:before { content: '\e985'; } /* '' */
.jsm-icon-check-empty:before { content: '\f096'; } /* '' */
.jsm-icon-facebook:before { content: '\f09a'; } /* '' */
.jsm-icon-menu:before { content: '\f0c9'; } /* '' */
.jsm-icon-linkedin:before { content: '\f0e1'; } /* '' */
.jsm-icon-angle-left:before { content: '\f104'; } /* '' */
.jsm-icon-angle-right:before { content: '\f105'; } /* '' */
.jsm-icon-angle-up:before { content: '\f106'; } /* '' */
.jsm-icon-angle-down:before { content: '\f107'; } /* '' */
.jsm-icon-circle:before { content: '\f111'; } /* '' */
.jsm-icon-ok-squared:before { content: '\f14a'; } /* '' */
.jsm-icon-youtube:before { content: '\f16a'; } /* '' */
.jsm-icon-instagram:before { content: '\f16d'; } /* '' */
