@import '../core/';

.btn {
  @include reset();

  align-items: center;
  border: 0;
  border-radius: var(--space-lg);
  cursor: pointer;
  display: inline-flex;
  font: var(--typography-button-font);
  font-size: 20px;
  height: $space-lg;
  letter-spacing: var(--typography-button-letter);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  transition: opacity 0.15s;

  &:hover {
    opacity: 0.9;
  }
}

.primary {
  background-color: var(--primary-color);
  color: var(--white);
}
