// ==================================================
// Screens
//
// 1. Media Queries
// ==================================================

@import '~rupture-sass/rupture';

// --------------------------------------------------
// 2. Media Queries
// --------------------------------------------------

$screen-xs: 360px; // xExtra small screen / phone
$screen-sm: 768px; // Extra small screen / phone
$screen-md: 992px; // Small screen / tablet
$screen-lg: 1280px; // Medium screen / desktop
$screen-xlg: 1440px; // Extra Large screen / wide desktop

$rupture: map-merge(
  $rupture,
  (
    anti-overlap: -1px,
    scale: 0 $screen-xs $screen-sm $screen-md $screen-lg $screen-xlg,
    scale-names: '0' 'mobile' 'tablet' 'desktop' 'desktopL' 'desktopXL',
  )
);
