@mixin typography-generator($variable-name) {
  .jsm-#{$variable-name} {
    font: var(--#{$variable-name});
    letter-spacing: var(--#{$variable-name}-letter);
  }
}

@include typography-generator('title-giant');
@include typography-generator('title-display');
@include typography-generator('title-headline-xxlarge');
@include typography-generator('title-headline-xlarge');
@include typography-generator('title-headline-large');
@include typography-generator('title-headline-medium');
@include typography-generator('title-headline-small');
@include typography-generator('title-headline-xsmall');
@include typography-generator('text-subtitle-large');
@include typography-generator('text-subtitle-medium');
@include typography-generator('text-body-large');
@include typography-generator('text-body-medium');
@include typography-generator('text-body-small');
@include typography-generator('text-link-large');
@include typography-generator('text-link-medium');
@include typography-generator('text-link-small');
@include typography-generator('button-large');
@include typography-generator('button-medium');
@include typography-generator('text-caption');
@include typography-generator('text-caption-focused');
@include typography-generator('text-overline');
@include typography-generator('text-badge');

/* Old Typography
 * TODO: Remove it after exclude from projects
*/

.jsm-t-panel {
  font: var(--typography-panel-font);
  letter-spacing: var(--typography-panel-letter);
}

.jsm-t-title {
  font: var(--typography-title-font);
  letter-spacing: var(--typography-title-letter);
}

.jsm-t-subheader {
  font: var(--typography-subheader-font);
  letter-spacing: var(--typography-subheader-letter);
}

.jsm-t-body {
  font: var(--typography-body-font);
  letter-spacing: var(--typography-body-letter);
}

.jsm-t-body2 {
  font: var(--typography-body2-font);
  letter-spacing: var(--typography-body2-letter);
}

.jsm-t-caption {
  font: var(--typography-caption-font);
  letter-spacing: var(--typography-caption-letter);
}

.jsm-t-button {
  font: var(--typography-button-font);
  letter-spacing: var(--typography-button-letter);
}
