.jsm-t-panel {
  font: var(--typography-panel-font);
  letter-spacing: var(--typography-panel-letter);
}

.jsm-t-title {
  font: var(--typography-title-font);
  letter-spacing: var(--typography-title-letter);
}

.jsm-t-subheader {
  font: var(--typography-subheader-font);
  letter-spacing: var(--typography-subheader-letter);
}

.jsm-t-body {
  font: var(--typography-body-font);
  letter-spacing: var(--typography-body-letter);
}

.jsm-t-body2 {
  font: var(--typography-body2-font);
  letter-spacing: var(--typography-body2-letter);
}

.jsm-t-caption {
  font: var(--typography-caption-font);
  letter-spacing: var(--typography-caption-letter);
}

.jsm-t-button {
  font: var(--typography-button-font);
  letter-spacing: var(--typography-button-letter);
}
