.jsm-panel {
  font: var(--typography-panel-font);
  letter-spacing: var(--typography-panel-letter);
}

.jsm-title {
  font: var(--typography-title-font);
  letter-spacing: var(--typography-title-letter);
}

.jsm-subheader {
  font: var(--typography-subheader-font);
  letter-spacing: var(--typography-subheader-letter);
}

.jsm-body {
  font: var(--typography-body-font);
  letter-spacing: var(--typography-body-letter);
}

.jsm-body2 {
  font: var(--typography-body2-font);
  letter-spacing: var(--typography-body2-letter);
}

.jsm-caption {
  font: var(--typography-caption-font);
  letter-spacing: var(--typography-caption-letter);
}

.jsm-button {
  font: var(--typography-button-font);
  letter-spacing: var(--typography-button-letter);
}
