:root {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;

  --font-family: 'Roboto', sans-serif;

  --typography-panel-font: 900 38px/40px var(--font-family);
  --typography-panel-letter: 0;
  --typography-title-font: 600 24px/28px var(--font-family);
  --typography-title-letter: -0.357143px;
  --typography-subheader-font: 400 16px/19px var(--font-family);
  --typography-subheader-letter: -0.228572px;
  --typography-body-font: 400 16px/19px var(--font-family);
  --typography-body-letter: -0.228572px;
  --typography-body2-font: 400 14px/16px var(--font-family);
  --typography-body2-letter: -0.2px;
  --typography-caption-font: 400 12px/14px var(--font-family);
  --typography-caption-letter: -0.171429px;
  --typography-button-font: 900 16px/19px var(--font-family);
  --typography-button-letter: -0.228572px;

  --black: #111;
  --white: #fff;
  --gray-1: #f5f5f5;
  --gray-2: #d8d8d8;
  --gray-3: #9b9b9b;
  --gray-4: #4a4a4a;
  --blue-1: #daf0ff;
  --blue-2: #007fd8;
  --blue-3: #0060a7;
  --blue-4: #003a64;
  --green-1: #7ed321;
  --orange-1: #ff7d00;
  --purple-1: #bd10e0;
  --red-1: #ba1e24;
  --red-2: #d0021b;

  --default-color: var(--gray-3);
  --default-color-lighten: #5c5c5c;
  --default-color-contrast: var(--white);
  --disabled-color: var(--gray-1);
  --disabled-color-contrast: var(--gray-2);
  --primary-color: var(--orange-1);
  --primary-color-lighten: #ff9834;
  --primary-color-contrast: var(--white);
  --secondary-color: var(--blue-2);
  --secondary-color-lighten: #0090f5;
  --secondary-color-contrast: var(--white);
  --danger-color: var(--red-2);
  --danger-color-lighten: #d32228;
  --danger-color-contrast: var(--white);
  --text-color: var(--gray-3);
  --text-color-lighten: var(--gray-2);

  --border-radius: 4px;

  --zindex-1: 1;
  --zindex-5: 5;
  --zindex-10: 10;
  --zindex-100: 100;
  --zindex-1000: 1000;
  --zindex-overlay: 10000;
}
