@import '~@venice/styles/core';

$colors: 'primary' var(--color-brand-primary-regular), 'secondary' var(--color-brand-secondary-regular),
  'success' var(--color-contextual-success-regular), 'danger' var(--color-contextual-error-regular);

$icon-size-sm: 12px;
$icon-size: var(--spacing-base);
$icon-size-lg: 24px;

@mixin icon-size($iconSize) {
  .icon-alert {
    .icon {
      font-size: $iconSize;
      height: $iconSize;
      width: $iconSize;
    }
  }
}

.icon-place {
  align-items: center;
  display: flex;
  justify-content: center;

  .icon {
    font-size: $icon-size;
    height: $icon-size;
    width: $icon-size;
  }

  &.icon-alert {
    color: var(--color-brand-primary-regular);
  }

  &.icon-close {
    color: var(--color-neutral-light-2);
    cursor: pointer;

    &:hover {
      color: var(--color-neutral-light-3);
    }
  }
}

.alert {
  border-radius: var(--border-radius);
  border-top: 1px solid var(--color-neutral-light-3);
  display: grid;
  font: var(--typography-body-font);
  grid-gap: var(--spacing-base);
  padding: var(--spacing-base);
  position: relative;

  @include icon-size($icon-size);

  &.small {
    font: var(--typography-caption-font);

    @include icon-size($icon-size-sm);
  }

  &.large {
    font: var(--title-headline-small);

    @include icon-size($icon-size-lg);
  }

  &.filled {
    background: var(--color-neutral-light-5);
    border: 1px solid var(--color-neutral-light-3);
  }

  &.transparent {
    margin-top: var(--spacing-large);
  }

  &.with-icon {
    grid-template-columns: var(--spacing-base) 1fr;

    &.small {
      grid-template-columns: $icon-size-sm 1fr;
    }

    &.large {
      grid-template-columns: $icon-size-lg 1fr;
    }
  }

  &.with-close {
    grid-template-columns: 1fr var(--spacing-base);

    &.with-icon {
      grid-template-columns: var(--spacing-base) 1fr var(--spacing-base);

      &.small {
        grid-template-columns: $icon-size-sm 1fr var(--spacing-base);
      }

      &.large {
        grid-template-columns: $icon-size-lg 1fr var(--spacing-base);
      }
    }
  }

  @each $type, $color in $colors {
    &.#{$type} {
      .icon-alert {
        color: $color;
      }
    }
  }
}
