@import '~@venice/styles/core';

.JSMBreadcrumb {
  display: flex;

  &--default {
    .JSMBreadcrumbItem {
      color: var(--color-neutral-regular);

      :root & > * {
        color: var(--color-neutral-regular);
      }
    }
  }

  &--contrast {
    .JSMBreadcrumbItem {
      color: var(--color-neutral-white);

      :root & > * {
        color: var(--color-neutral-white);
      }
    }
  }
}

.JSMBreadcrumbItem {
  display: inline-block;
  font: var(--text-body-medium);

  :root & > * {
    text-decoration: none;
  }

  &:not(:last-child) {
    &::after {
      content: '/';
      display: inline-block;
      margin-left: var(--spacing-xsmall);
      margin-right: var(--spacing-xsmall);
    }

    :root & > a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:last-child {
    :root & > * {
      cursor: default;
      font-weight: 600;
    }

    :root & > a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
