@import '~@venice/styles/core';

.btn {
  @include reset();

  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--space-lg);
  cursor: pointer;
  display: inline-flex;
  font: var(--typography-button-font);
  justify-content: center;
  letter-spacing: var(--typography-button-letter);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition-duration: var(--transition-duration);
  transition-property: border-color;
  will-change: border-color;

  &::before {
    border-radius: var(--space-lg);
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: var(--transition-duration);
    transition-property: opacity;
    z-index: var(--zindex-1);
  }

  &[disabled] {
    cursor: default;

    &.text {
      color: var(--disabled-color);
    }

    &.outlined {
      border-color: var(--disabled-color);
      color: var(--disabled-color);
    }

    &.filled {
      background-color: var(--disabled-color);
      color: var(--disabled-color-contrast);
    }
  }
}

.children {
  display: inline-block;
  position: relative;
  z-index: var(--zindex-5);
}

.startIcon {
  display: inline-block;
  position: relative;
  z-index: var(--zindex-5);

  &:not(:empty) {
    margin-right: var(--space-xs);
  }
}

.endIcon {
  display: inline-block;
  position: relative;
  z-index: var(--zindex-5);

  &:not(:empty) {
    margin-left: var(--space-xs);
  }
}

.isLoading {
  cursor: default;

  .children,
  .startIcon,
  .endIcon {
    opacity: 0;
  }
}

.default {
  &.text {
    color: var(--default-color);

    &:not([disabled]):not(.isLoading):hover {
      &::before {
        background-color: var(--default-color-lighten);
        opacity: 0.1;
      }
    }
  }

  &.outlined {
    border-color: var(--default-color);
    color: var(--default-color);

    &:not([disabled]):not(.isLoading):hover {
      &::before {
        background-color: var(--default-color-lighten);
        opacity: 0.1;
      }
    }
  }

  &.filled {
    background-color: var(--default-color);
    color: var(--default-color-contrast);

    &:not([disabled]):not(.isLoading):hover {
      &::before {
        background-color: var(--default-color-lighten);
        opacity: 1;
      }
    }
  }
}

.primary {
  &.text {
    color: var(--primary-color);

    &:not([disabled]):not(.isLoading):hover {
      &::before {
        background-color: var(--primary-color-lighten);
        opacity: 0.1;
      }
    }
  }

  &.outlined {
    border-color: var(--primary-color);
    color: var(--primary-color);

    &:not([disabled]):not(.isLoading):hover {
      &::before {
        background-color: var(--primary-color-lighten);
        opacity: 0.1;
      }
    }
  }

  &.filled {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);

    &:not([disabled]):not(.isLoading):hover {
      &::before {
        background-color: var(--primary-color-lighten);
        opacity: 1;
      }
    }
  }
}

.secondary {
  &.text {
    color: var(--secondary-color);

    &:not([disabled]):not(.isLoading):hover {
      &::before {
        background-color: var(--secondary-color-lighten);
        opacity: 0.1;
      }
    }
  }

  &.outlined {
    border-color: var(--secondary-color);
    color: var(--secondary-color);

    &:not([disabled]):not(.isLoading):hover {
      &::before {
        background-color: var(--secondary-color-lighten);
        opacity: 0.1;
      }
    }
  }

  &.filled {
    background-color: var(--secondary-color);
    color: var(--secondary-color-contrast);

    &:not([disabled]):not(.isLoading):hover {
      &::before {
        background-color: var(--secondary-color-lighten);
        opacity: 1;
      }
    }
  }
}

.small {
  height: var(--space-md);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);

  .children {
    font-size: 0.8em;
  }
}

.medium {
  height: var(--space-lg);
  padding-left: var(--space);
  padding-right: var(--space);

  .children {
    font-size: 1em;
  }
}

.round-square {
  min-width: var(--space-xlg);
}

.circle {
  border-radius: 50%;

  &.small {
    width: var(--space-md);
  }

  &.medium {
    width: var(--space-lg);
  }
}

.loading {
  position: absolute;
  z-index: calc(var(--zindex-5) + 1);
}
