@import '~@venice/styles/core';

.JSMButton {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--spacing-xxxxlarge);
  cursor: pointer;
  display: inline-flex;
  font: var(--typography-button-font);
  justify-content: center;
  letter-spacing: var(--typography-button-letter);
  outline: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition-duration: var(--transition-duration);
  transition-property: border-color;
  will-change: border-color;

  &::before {
    border-radius: var(--spacing-xxxxlarge);
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: var(--transition-duration);
    transition-property: opacity;
  }

  &Children {
    display: inherit;
    position: relative;

    img {
      max-width: none;
    }
  }

  &StartIcon {
    display: inline-block;
    position: relative;

    &:not(:empty) {
      margin-right: var(--spacing-xsmall);
    }
  }

  &EndIcon {
    display: inline-block;
    position: relative;

    &:not(:empty) {
      margin-left: var(--spacing-xsmall);
    }
  }

  &[disabled] {
    cursor: default;

    &.JSMButton--text {
      color: var(--color-neutral-light-2);
    }

    &.JSMButton--outlined {
      border-color: var(--color-neutral-light-2);
      color: var(--color-neutral-light-2);
    }

    &.JSMButton--filled {
      background-color: var(--color-neutral-light-2);
      color: var(--disabled-color-contrast);
    }
  }

  &--isLoading {
    cursor: default;

    .JSMButtonChildren,
    .JSMButtonStartIcon,
    .JSMButtonEndIcon {
      opacity: 0;
    }
  }

  &--default {
    &.JSMButton--text {
      color: var(--color-neutral-light-1);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--color-neutral-light-1);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--outlined {
      border-color: var(--color-neutral-light-1);
      color: var(--color-neutral-light-1);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--color-neutral-light-1);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--filled {
      background-color: var(--color-neutral-light-1);
      color: var(--color-neutral-white);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--color-neutral-light-1);
          opacity: 1;
        }
      }
    }
  }

  &--white {
    &.JSMButton--text {
      color: var(--color-neutral-white);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--color-neutral-light-5);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--outlined {
      border-color: var(--color-neutral-white);
      color: var(--color-neutral-white);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--color-neutral-light-5);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--filled {
      background-color: var(--color-neutral-white);
      color: var(--color-neutral-black);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--color-neutral-light-5);
          opacity: 1;
        }
      }
    }
  }

  &--primary {
    &.JSMButton--text {
      color: var(--primary-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--primary-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--outlined {
      border-color: var(--primary-color);
      color: var(--primary-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--primary-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--filled {
      background-color: var(--primary-color);
      color: var(--primary-color-contrast);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--primary-color-lighten);
          opacity: 1;
        }
      }
    }
  }

  &--secondary {
    &.JSMButton--text {
      color: var(--secondary-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--secondary-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--outlined {
      border-color: var(--secondary-color);
      color: var(--secondary-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--secondary-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--filled {
      background-color: var(--secondary-color);
      color: var(--secondary-color-contrast);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--secondary-color-lighten);
          opacity: 1;
        }
      }
    }
  }

  &--small {
    height: var(--spacing-xxlarge);
    padding-left: var(--spacing-base);
    padding-right: var(--spacing-base);

    .JSMButtonChildren {
      font-size: 0.8em;
    }
  }

  &--medium {
    height: 40px;
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);

    .JSMButtonChildren {
      font-size: 0.9em;
    }
  }

  &--large {
    height: var(--spacing-xxxxlarge);
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);

    .JSMButtonChildren {
      font-size: 1em;
    }
  }

  &--circle {
    border-radius: 50%;

    &.JSMButton--small {
      width: var(--spacing-xxlarge);
    }

    &.JSMButton--medium {
      padding-left: var(--spacing-base);
      padding-right: var(--spacing-base);
      width: 40px;
    }

    &.JSMButton--large {
      width: var(--spacing-xxxxlarge);
    }
  }

  &--bold {
    font-weight: bold;
  }

  &--round-square {
    min-width: var(--spacing-giant);
  }
}

.loading {
  position: absolute;
  z-index: var(--zindex-1);
}
