@import '~@venice/styles/core';

.JSMButton {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--space-lg);
  cursor: pointer;
  display: inline-flex;
  font: var(--typography-button-font);
  justify-content: center;
  letter-spacing: var(--typography-button-letter);
  outline: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition-duration: var(--transition-duration);
  transition-property: border-color;
  will-change: border-color;

  &::before {
    border-radius: var(--space-lg);
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: var(--transition-duration);
    transition-property: opacity;
  }

  &Children {
    display: inherit;
    position: relative;

    img {
      max-width: none;
    }
  }

  &StartIcon {
    display: inline-block;
    position: relative;

    &:not(:empty) {
      margin-right: var(--space-xs);
    }
  }

  &EndIcon {
    display: inline-block;
    position: relative;

    &:not(:empty) {
      margin-left: var(--space-xs);
    }
  }

  &[disabled] {
    cursor: default;

    &.JSMButton--text {
      color: var(--disabled-color);
    }

    &.JSMButton--outlined {
      border-color: var(--disabled-color);
      color: var(--disabled-color);
    }

    &.JSMButton--filled {
      background-color: var(--disabled-color);
      color: var(--disabled-color-contrast);
    }
  }

  &--isLoading {
    cursor: default;

    .JSMButtonChildren,
    .JSMButtonStartIcon,
    .JSMButtonEndIcon {
      opacity: 0;
    }
  }

  &--default {
    &.JSMButton--text {
      color: var(--default-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--default-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--outlined {
      border-color: var(--default-color);
      color: var(--default-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--default-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--filled {
      background-color: var(--default-color);
      color: var(--default-color-contrast);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--default-color-lighten);
          opacity: 1;
        }
      }
    }
  }

  &--primary {
    &.JSMButton--text {
      color: var(--primary-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--primary-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--outlined {
      border-color: var(--primary-color);
      color: var(--primary-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--primary-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--filled {
      background-color: var(--primary-color);
      color: var(--primary-color-contrast);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--primary-color-lighten);
          opacity: 1;
        }
      }
    }
  }

  &--secondary {
    &.JSMButton--text {
      color: var(--secondary-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--secondary-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--outlined {
      border-color: var(--secondary-color);
      color: var(--secondary-color);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--secondary-color-lighten);
          opacity: 0.1;
        }
      }
    }

    &.JSMButton--filled {
      background-color: var(--secondary-color);
      color: var(--secondary-color-contrast);

      &:not([disabled]):not(.JSMButton--isLoading):hover {
        &::before {
          background-color: var(--secondary-color-lighten);
          opacity: 1;
        }
      }
    }
  }

  .loading {
    position: absolute;
    z-index: var(--zindex-1);
  }
}

.small {
  height: var(--space-md);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);

  .JSMButtonChildren {
    font-size: 0.8em;
  }
}

.medium {
  height: 40px;
  padding-left: var(--space);
  padding-right: var(--space);

  .JSMButtonChildren {
    font-size: 0.9em;
  }
}

.large {
  height: var(--space-lg);
  padding-left: var(--space);
  padding-right: var(--space);

  .JSMButtonChildren {
    font-size: 1em;
  }
}

.round-square {
  min-width: var(--space-xlg);
}

.circle {
  border-radius: 50%;

  &.small {
    width: var(--space-md);
  }

  &.medium {
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    width: 40px;
  }

  &.large {
    width: var(--space-lg);
  }
}

.bold {
  font-weight: bold;
}
