@import '~@venice/styles/core';

.container {
  div {
    align-items: center;
    display: flex;
  }
}

.label {
  color: var(--gray-4);
  font: var(--typography-caption-font);
  margin-left: var(--space-xs);
}

.error {
  color: var(--danger-color);
  font: var(--typography-caption-font);
  margin-top: var(--space-xxs);

  svg {
    fill: var(--danger-color);
    height: 14px;
    margin-right: var(--space-xxs);
    width: 14px;
  }
}
