@import '~@venice/styles/core';

$checkbox-border: 2px;
$checkbox-size: 13px;
$checkbox-font-size: $checkbox-size - 1;
$checkbox-opacity: 0.55;

.container {
  font: var(--typography-caption-font);
  width: fit-content;
}

.label {
  align-items: center;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;

  &:hover .checkbox:not(:disabled) ~ .customCheckbox {
    border-color: var(--secondary-color-lighten);
  }
}

.checkbox {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;

  &:disabled {
    ~ .customCheckbox {
      opacity: $checkbox-opacity;

      &::before {
        background-color: var(--disabled-color);
        display: block;
      }
    }

    &:not(:checked) ~ .customCheckbox::before {
      color: var(--disabled-color);
    }
  }

  &:not(:disabled):checked {
    ~ .customCheckbox {
      background-color: var(--color-brand-secondary-regular);

      &::before {
        background-color: var(--color-brand-secondary-regular);
        display: block;
      }
    }
  }
}

.customCheckbox {
  background-color: var(--secondary-color-contrast);
  border: $checkbox-border solid var(--gray-3);
  border-radius: $checkbox-border;
  font-size: $checkbox-font-size;
  height: $checkbox-size;
  margin-right: var(--spacing-xsmall);
  position: relative;
  width: $checkbox-size;

  &::before {
    border-radius: $checkbox-border;
    color: var(--secondary-color-contrast);
    display: none;
    height: $checkbox-size;
    left: calc(#{$checkbox-border} * -1);
    margin-left: unset;
    margin-right: unset;
    position: absolute;
    top: calc(#{$checkbox-border} * -1);
    width: $checkbox-size;
  }
}

.error {
  color: var(--danger-color);
  font: var(--typography-caption-font);
  margin-top: var(--spacing-xxsmall);

  &::before {
    margin-left: unset;
  }
}
