@import '~@venice/styles/core';

.container {
  display: flex;
  flex-flow: column;
}

.label {
  color: var(--gray-4);
  font: var(--typography-caption-font);
  margin-bottom: var(--spacing-xsmall);
}

.field {
  appearance: none;
  background: var(--disabled-color-contrast);
  border: 1px solid var(--color-neutral-light-3);
  border-radius: var(--border-radius);
  color: var(--default-color);
  font: var(--typography-body-font);
  outline: 0;
  padding: var(--spacing-base);
  position: relative;
  width: 100%;
  z-index: var(--zindex-1);

  &:disabled,
  &[disabled] {
    background: var(--color-neutral-light-3);

    &,
    &::placeholder {
      color: var(--disabled-color);
    }
  }

  @at-root .container.invalid #{&} {
    outline: 1px auto var(--danger-color);
  }
}

.error {
  color: var(--danger-color);
  display: inherit;
  font: var(--typography-caption-font);
  margin-top: var(--spacing-xxsmall);

  svg {
    fill: var(--danger-color);
    height: 14px;
    margin-right: var(--spacing-xxsmall);
    width: 14px;
  }
}
