@import '~@venice/styles/core';

.icon {
  fill: currentColor;
  height: var(--spacing-large);
  width: var(--spacing-large);
}

.default {
  fill: var(--color-neutral-white);
}

.primary {
  fill: var(--color-brand-primary-regular);
}

.secondary {
  fill: var(--secondary-color);
}
