@import '~@venice/styles/core';

$colors: 'primary' var(--primary-color), 'secondary' var(--secondary-color),
  'success' var(--success-color), 'danger' var(--danger-color);

@mixin bar-progress {
  background: var(--disabled-color-contrast);
  background-image: linear-gradient(90deg, transparent 50%, currentColor 50%);
  background-size: 10% 100px;
  color: var(--disabled-color-contrast);
}

@mixin bar-progress-value {
  background: var(--secondary-color);
  transition: width var(--transition-duration) ease-in-out;
}

.progress-wrapper {
  align-items: center;
  display: flex;

  .value {
    font: var(--typography-body2-font);
    font-weight: bold;
    padding: 0 var(--space-xs);

    @at-root .right#{&} {
      order: 1;
    }

    @at-root .left#{&} {
      order: 0;
    }
  }

  .progress {
    flex: 1;
  }
}

.progress {
  appearance: none;
  border: none;
  border-radius: 10px;
  height: 12px;
  overflow: hidden;
  position: relative;

  @include bar-progress;

  &::-moz-progress-bar {
    @include bar-progress-value;
  }

  &::-webkit-progress {
    &-value {
      @include bar-progress-value;
    }

    &-bar {
      @include bar-progress;
    }
  }

  @each $type, $color in $colors {
    &.#{$type} {
      &::-moz-progress-bar {
        background: $color;
      }

      &::-webkit-progress-value {
        background: $color;
      }
    }
  }

  &:not([value]) {
    &::-moz-progress-bar {
      @include bar-progress;
    }
  }
}
