@import '~@venice/styles/core';

$icon-size: 24px;
$caret-size: 16px;

.wrapper {
  position: relative;
}

.select {
  outline: 0;
  padding-right: 40px;
}

.error {
  color: var(--danger-color);
  display: inherit;
  font: var(--typography-caption-font);
  margin-top: var(--space-xxs);

  svg {
    fill: var(--danger-color);
    height: 14px;
    margin-right: var(--space-xxs);
    width: 14px;
  }
}

.caret,
.icon {
  align-items: center;
  color: var(--gray-2);
  display: flex;
  fill: var(--gray-2);
  height: 100%;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: $icon-size;
  z-index: var(--zindex-5);
}

.icon {
  left: var(--space-xs);

  + .field {
    padding-left: calc(#{$icon-size} + var(--space-sm));
  }
}

.caret {
  right: var(--space-sm);
  width: $caret-size;
}
