@import '~@venice/styles/core';

$rotation: 270;
$dashoffset: 180;
$animation-time: 1.2s;

.JSMSpinner {
  animation: rotation $animation-time linear infinite;

  &--circle {
    animation: turn $animation-time ease-in-out infinite;
    stroke-dasharray: $dashoffset;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 6;
    transform-origin: center;
  }

  &--default {
    stroke: var(--color-neutral-light-1);
  }

  &--default-contrast {
    stroke: var(--color-neutral-white);
  }

  &--primary {
    stroke: var(--color-brand-primary-regular);
  }

  &--primary-contrast {
    stroke: var(--color-neutral-white);
  }

  &--secondary {
    stroke: var(--secondary-color);
  }

  &--secondary-contrast {
    stroke: var(--secondary-color-contrast);
  }
}

@keyframes rotation {
  100% {
    transform: rotate(#{$rotation}deg);
  }
}

@keyframes turn {
  0% {
    stroke-dashoffset: $dashoffset;
  }

  50% {
    stroke-dashoffset: ($dashoffset / 4);
    transform: rotate(#{$rotation / 2}deg);
  }

  100% {
    stroke-dashoffset: $dashoffset;
    transform: rotate(#{$rotation * 1.65}deg);
  }
}
