@import "~@venice/styles/core";

.splitButton {
  display: inline-flex;
  outline: none;
  position: relative;

  button[role="button"] {
    padding-right: var(--space-md);
  }
}

.caret {
  margin-left: var(--space);
  position: relative;

  &::before,
  &::after {
    $centralize: 30%;

    background-color: var(--white);
    border-radius: 1px;
    content: "";
    display: block;
    height: var(--space-xs);
    position: absolute;
    top: $centralize;
    transform: rotate(45deg);
    width: 2px;
  }

  &::before {
    left: 3px;
  }

  &::after {
    right: 0;
    transform: rotate(-45deg);
  }
}

.dropdown {
  border-radius: var(--border-radius);
  box-shadow: -6px 8px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateY(var(--space-lg));
  visibility: hidden;
  will-change: visibility;
  z-index: var(--zindex-10);

  .hover > & {
    transition-delay: 0.2s;
  }

  &::before {
    border: var(--space-xs) solid transparent;
    content: "";
    margin-left: -20px;
    pointer-events: none;
    position: absolute;
    top: -16px;
  }

  & > * {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    min-height: var(--space-lg);
    padding-left: var(--space);
    padding-right: var(--space);
    text-decoration: none;
    white-space: nowrap;

    &:first-of-type {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    &:last-of-type {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    &:hover {
      font-weight: bold;
    }
  }

  &.rtl {
    &::before {
      right: var(--space);
    }
  }

  &.ltr {
    left: 0;
    width: fit-content;

    &::before {
      left: calc(var(--space-md) + var(--space-xxs));
    }
  }

  &.fitbutton {
    width: 100%;

    > * {
      white-space: normal;
    }
  }

  .hover:hover > &,
  .click.active > & {
    opacity: 1;
    transition: visibility 0s, transform 0.2s ease-in, opacity 0.1s linear;
    visibility: visible;

    &.large {
      transform: translateY(calc(var(--space-xlg) - var(--space-xxs)));
    }

    &.medium {
      transform: translateY(calc(var(--space-lg) + var(--space-xxs)));
    }
  }

  &.large > * {
    font-size: 1em;
  }

  &.medium > * {
    font-size: 0.9em;
  }

  &.default {
    background-color: var(--default-color);

    &::before {
      border-bottom-color: var(--default-color);
    }

    & > * {
      color: var(--default-color-contrast);

      &:hover {
        background-color: var(--default-color-lighten);
        opacity: 1;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--default-color-lighten);
      }
    }
  }

  &.primary {
    background-color: var(--primary-color);

    &::before {
      border-bottom-color: var(--primary-color);
    }

    & > * {
      color: var(--primary-color-contrast);

      &:hover {
        background-color: var(--primary-color-lighten);
        opacity: 1;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--primary-color-lighten);
      }
    }
  }

  &.secondary {
    background-color: var(--secondary-color);

    &::before {
      border-bottom-color: var(--secondary-color);
    }

    & > * {
      color: var(--secondary-color-contrast);

      &:hover {
        background-color: var(--secondary-color-lighten);
        opacity: 1;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--secondary-color-lighten);
      }
    }
  }
}
