@import '~@venice/styles/core';

.stepper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;

  @include above(desktopL) {
    flex-direction: row;
    height: 100%;
  }
}

.step {
  display: flex;
  flex-direction: row;
  height: var(--spacing-xxxxlarge);
  list-style-type: none;
  position: relative;
  width: 100%;

  &::before {
    background-color: var(--color-neutral-light-3);
    border: 2px solid var(--color-neutral-white);
    border-radius: 50%;
    content: '';
    display: block;
    height: 14px;
    margin-left: 2px;
    margin-right: var(--spacing-base);
    position: relative;
    text-align: center;
    width: 14px;
    z-index: var(--zindex-1);
  }

  &::after {
    background-color: var(--color-neutral-light-3);
    content: '';
    height: 100%;
    left: var(--spacing-xsmall);
    position: absolute;
    top: var(--spacing-xxsmall);
    width: 2px;
  }

  &:last-child::after {
    content: none;
  }

  .subtitle:last-child:not(:empty)::before {
    content: '-';
    display: inline-block;
    text-align: center;
    width: var(--spacing-xsmall);
  }

  @include above(desktopL) {
    flex-direction: column;
    height: 100%;

    &::before {
      margin-bottom: var(--spacing-base);
      margin-top: 2px;
    }

    &:not(:last-child)::after {
      height: 2px;
      left: var(--spacing-xsmall);
      top: var(--spacing-xsmall);
      width: 100%;
    }

    .subtitle:last-child:not(:empty)::before {
      content: none;
    }
  }
}

.title,
.subtitle {
  color: var(--color-neutral-light-2);
  font: var(--text-caption);
  letter-spacing: var(--text-caption-letter);
  margin-left: var(--spacing-xxsmall);
}

.active {
  .title,
  .subtitle {
    color: var(--color-neutral-regular);
    font-weight: bold;
    margin-top: 2px;
  }

  &::before {
    background-color: var(--color-brand-secondary-regular);
    border-width: 1px;
    height: 18px;
    margin-bottom: var(--spacing-xsmall);
    margin-left: 0;
    margin-right: calc(var(--spacing-base) - 2px);
    margin-top: 0;
    width: 18px;
  }

  &::after {
    background-color: var(--color-brand-secondary-regular);
  }

  @include above(desktopL) {
    .title,
    .subtitle {
      margin-left: 2px;
      margin-top: 0;
    }

    &::before {
      margin-bottom: calc(var(--spacing-base) - 2px);
    }
  }
}

.last::after {
  background-color: var(--color-neutral-light-3);
}
