@import '~@venice/styles/core';

.stepper {
  @include reset();

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;

  @include above(desktopL) {
    flex-direction: row;
    height: 100%;
  }
}

.step {
  display: flex;
  flex-direction: row;
  height: var(--space-lg);
  list-style-type: none;
  position: relative;
  width: 100%;

  &::before {
    background-color: var(--gray-2);
    border: 2px solid var(--white);
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    margin-left: 2px;
    margin-right: var(--space-sm);
    position: relative;
    text-align: center;
    width: 10px;
    z-index: var(--zindex-1);
  }

  &::after {
    background-color: var(--gray-2);
    content: '';
    height: 100%;
    left: var(--space-xs);
    position: absolute;
    top: var(--space-xxs);
    width: 2px;
  }

  &:last-child::after {
    content: none;
  }

  .subtitle:last-child:not(:empty)::before {
    content: '-';
    display: inline-block;
    text-align: center;
    width: var(--space-xs);
  }

  @include above(desktopL) {
    flex-direction: column;
    height: 100%;

    &::before {
      margin-bottom: var(--space-sm);
      margin-top: 2px;
    }

    &:not(:last-child)::after {
      height: 2px;
      left: var(--space-xs);
      top: var(--space-xs);
      width: 100%;
    }

    .subtitle:last-child:not(:empty)::before {
      content: none;
    }
  }
}

.title,
.subtitle {
  color: var(--gray-3);
  font: var(--typography-caption-font);
  letter-spacing: var(--typography-caption-letter);
  margin-left: var(--space-xxs);
}

.active {
  .title,
  .subtitle {
    color: var(--text-color);
    font-weight: bold;
    margin-top: 2px;
  }

  &::before {
    background-color: var(--secondary-color);
    border-width: 1px;
    height: var(--space-sm);
    margin-bottom: var(--space-xs);
    margin-left: 0;
    margin-right: calc(var(--space-sm) - 2px);
    margin-top: 0;
    width: var(--space-sm);
  }

  &::after {
    background-color: var(--secondary-color);
  }

  @include above(desktopL) {
    .title,
    .subtitle {
      margin-left: 2px;
      margin-top: 0;
    }

    &::before {
      margin-bottom: calc(var(--space-sm) - 2px);
    }
  }
}

.last::after {
  background-color: var(--gray-2);
}
