.table {
  display: table;
  width: 100%;

  th,
  td {
    font: var(--text-body-small);
    letter-spacing: var(--text-body-small-letter);
  }

  th {
    padding: var(--spacing-base);
  }

  td {
    padding: var(--spacing-xxlarge) var(--spacing-xsmall);
  }

  thead th {
    background-color: var(--color-neutral-light-2);
    color: var(--color-neutral-white);
    font-weight: 700;

    &:first-of-type {
      border-top-left-radius: var(--border-radius);
      text-align: start;
    }

    &:last-of-type {
      border-top-right-radius: var(--border-radius);
    }
  }

  &.striped {
    tbody tr:nth-child(even) > td {
      background-color: var(--color-neutral-light-5);
    }

    tbody tr:nth-child(odd) > td {
      background-color: var(--color-neutral-white);
    }
  }

  &.center {
    tbody tr > td,
    thead tr > th {
      text-align: center;
    }
  }
}
