.tag {
  border-radius: var(--border-radius);
  display: flex;
  font: var(--typography-caption-font);
  font-weight: bold;
  height: fit-content;
  padding: var(--spacing-xxsmall) var(--spacing-xsmall);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;

  &.round-square {
    border-radius: var(--spacing-xxxxlarge);

    &.clickable:hover {
      cursor: pointer;
    }
  }

  &[data-aside-info] {
    margin-bottom: var(--spacing-base);
    margin-right: 28px;
  }

  &::before {
    bottom: calc(-1 * var(--spacing-base));
    color: var(--color-neutral-light-1);
    content: attr(data-aside-info);
    font: inherit;
    font-weight: 400;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
  }
}

.startIcon {
  display: inline-block;
  position: relative;

  &:not(:empty) {
    margin-right: var(--spacing-xsmall);
  }
}

.endIcon {
  display: inline-block;
  position: relative;

  &:not(:empty) {
    margin-left: var(--spacing-xsmall);
  }
}

.default {
  background-color: var(--color-neutral-light-1);
  color: var(--color-neutral-white);

  &.clickable:hover {
    background-color: var(--color-neutral-light-1);
  }
}

.primary {
  background-color: var(--color-brand-primary-regular);
  color: var(--color-neutral-white);

  &.clickable:hover {
    background-color: var(--color-brand-primary-light-1);
  }
}

.secondary {
  background-color: var(--color-brand-secondary-regular);
  color: var(--color-neutral-white);

  &.clickable:hover {
    background-color: var(--color-brand-secondary-light-2);
  }
}

.success {
  background-color: var(--color-contextual-success-regular);
  color: var(--color-neutral-white);

  &.clickable:hover {
    background-color: var(--color-contextual-success-light-1);
  }
}

.danger {
  background-color: var(--danger-color);
  color: var(--color-neutral-white);

  &.clickable:hover {
    background-color: var(--danger-color-lighten);
  }
}

.purple {
  background-color: var(--purple-1);
  color: var(--color-neutral-white);

  &.clickable:hover {
    background-color: var(--color-neutral-light-1);
  }
}
