@import '~@venice/styles/core';

$arrow-size: 5px;

.tooltip {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;

  .tooltipContent {
    border: 1px solid #e5e5e5;
    border-radius: var(--border-radius);
    display: none;
    min-width: 150px;
    padding: 10px var(--space-sm);
    position: absolute;
    transition: opacity 0.5s;
    z-index: 1;

    &::after {
      border-style: solid;
      border-width: ($arrow-size);
      content: '';
      position: absolute;
    }
  }

  &:hover {
    .tooltipContent {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }

  &.dark {
    .tooltipContent {
      background-color: var(--default-color);
      color: var(--white);
    }
  }

  &.light {
    .tooltipContent {
      background: var(--white);
      border-radius: var (-border-radius);
      box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &.top {
    display: inline-block;

    .tooltipContent {
      bottom: 150%;
      left: -30%;

      &::after {
        border-color: var(--default-color) transparent transparent transparent;
        left: 50%;
        margin-left: (-$arrow-size);
        top: 100%;
      }
    }

    &.light {
      .tooltipContent::after {
        border-color: var(--white) transparent transparent transparent;
      }
    }
  }

  &.right {
    .tooltipContent {
      left: 100%;
      margin-left: 10px;

      &::after {
        border-color: transparent var(--default-color) transparent transparent;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    &.light {
      .tooltipContent::after {
        border-color: transparent var(--white) transparent transparent;
      }

      .tooltipContent::before {
        border-color: transparent var(--gray-2) transparent transparent;
        border-style: solid;
        border-width: ($arrow-size + 2px);
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
