@import '~@venice/styles/core';

$arrow-size: 10px;
$coordinate-space: 50%;
$arrow-space-left: -20px;
$arrow-shadow-space: -25px;

.tooltip {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;

  .tooltipContent {
    border: 1px solid #e5e5e5;
    border-radius: var(--border-radius);
    display: none;
    min-width: 150px;
    padding: 10px var(--spacing-base);
    position: absolute;
    transition: opacity 0.5s;
    z-index: 1;

    &::after {
      border-style: solid;
      border-width: ($arrow-size);
      content: '';
      left: ($coordinate-space);
      position: absolute;
      transform: translateX(-$coordinate-space);
    }
  }

  &:hover {
    .tooltipContent {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }

  &.dark {
    .tooltipContent {
      background-color: var(--color-neutral-light-1);
      color: var(--color-neutral-white);
    }
  }

  &.light {
    .tooltipContent {
      background: var(--color-neutral-white);
      border-radius: var (-border-radius);
      box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);

      &::before {
        border-style: solid;
        border-width: ($arrow-size + 2px);
        content: '';
        position: absolute;
      }
    }
  }

  &.top {
    display: inline-block;

    .tooltipContent {
      bottom: calc(100% + var(--spacing-base));
      left: ($coordinate-space);
      transform: translateX(-$coordinate-space);

      &::after {
        border-color: var(--color-neutral-light-1) transparent transparent transparent;
        top: 100%;
      }
    }

    &.light {
      .tooltipContent {
        &::after {
          border-color: var(--color-neutral-white) transparent transparent transparent;
        }

        &::before {
          border-color: var(--color-neutral-light-3) transparent transparent transparent;
          left: ($coordinate-space);
          top: calc(100% + 1px);
          transform: translateX(-$coordinate-space);
        }
      }
    }
  }

  &.right {
    .tooltipContent {
      left: calc(100% + var(--spacing-large));
      top: ($coordinate-space);
      transform: translateY(-$coordinate-space);

      &::after {
        border-color: transparent var(--color-neutral-light-1) transparent transparent;
        left: ($arrow-space-left);
        top: ($coordinate-space);
        transform: translateY(-$coordinate-space);
      }
    }

    &.light {
      .tooltipContent {
        &::after {
          border-color: transparent var(--color-neutral-white) transparent transparent;
        }

        &::before {
          border-color: transparent var(--color-neutral-light-3) transparent transparent;
          left: ($arrow-shadow-space);
          top: ($coordinate-space);
          transform: translateY(-$coordinate-space);
        }
      }
    }
  }

  &.show {
    .tooltipContent {
      display: inline-block;
    }
  }
}
